@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
  font-family: 'Montserrat', sans-serif;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
  scroll-behavior: smooth;
}

:root {
  --bg1: #000;
  --bg2: #fff;
  --wrm: #d1faff;
  --deg: -12deg;
  --sz: 5vmin;
  --spd: 2.05s;
}

/* Loader */

@property --deg {
  syntax: '<angle>';
  inherits: false;
  initial-value: -12deg;
}

.loader {
  width: var(--sz);
  height: var(--sz);
  background: conic-gradient(from var(--deg) at 50% 50%, var(--bg1) 0, var(--wrm) 25deg 50deg, var(--bg1) 51deg 100%);
  clip-path: polygon(0% 0%, 40% 0%, 50% 10%, 60% 0%, 100% 0%, 100% 40%, 90% 50%, 100% 60%, 100% 100%, 60% 100%, 50% 90%, 40% 100%, 0% 100%, 0% 60%, 10% 50%, 0% 40%);
  animation: spin var(--spd) linear 0s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: calc(var(--sz) / 10);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader:before {
  content: "";
  position: absolute;
  width: calc(100% - calc(var(--sz) / 10));
  height: calc(100% - calc(var(--sz) / 10));
  border-radius: calc(var(--sz) / 20);
  background: var(--bg2);
  clip-path: polygon(0% 0%, 38% 0%, 50% 12%, 62% 0%, 100% 0%, 100% 38%, 88% 50%, 100% 62%, 100% 100%, 62% 100%, 50% 88%, 38% 100%, 0% 100%, 0% 62%, 12% 50%, 0% 38%);
}

@keyframes spin {
  0% {
    --deg: -12deg;
  }

  100% {
    --deg: 348deg;
  }
}
